##1.Write a program to find the factorial of a number.

In [ ]:
#using loop

num = int(input("Enter a number: "))

factorial = 1
if num < 0:
   print("Factorial doesn't exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 3
The factorial of 3 is 6

In [ ]:
# using recursion

def factorial(x):
  if x == 1:
    return 1
  else:
    return (x * factorial(x-1))


num = int(input("Enter a number: "))

result = factorial(num)
print("The factorial of", num, "is", result)

Enter a number: 5
The factorial of 5 is 120

##2.Write a function to determine if a string is a palindrome.

In [ ]:
#using slicing method

def isPalindrome(s):
    return s == s[::-1]

s = input("Enter a String : ")
ans = isPalindrome(s)
  
if ans:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a String : xyz
Not a Palindrome

In [ ]:
#using iterative method

def isPalindrome(str):
  
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
  
s =input("Enter a String : ")
ans = isPalindrome(s)
  
if (ans):
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a String : abccba
Palindrome

##3.Write a program to find the largest and smallest numbers in a list.

In [ ]:
#using sort() method

list1 = [12,3,55,22,98,62,45,7]
 
list1.sort()

print("Smallest element is:", list1[0])
print("Largest element is:", list1[-1])

Smallest element is: 3
Largest element is: 98

In [ ]:
#using min() max() method

l = []
num = int(input('How many numbers: '))

for n in range(num):
  numbers = int(input('Enter number '))
  l.append(numbers)

print("Minimum element in the list is :",min(l))
print("Maximum element in the list is :", max(l))

How many numbers: 3
Enter number 1
Enter number 12
Enter number 55
Minimum element in the list is : 1
Maximum element in the list is : 55

In [ ]:
#using lambda function

lst = [20, 10, 20, 1, 100]
print(min(lst, key=lambda value: int(value)) )
print(max(lst, key=lambda value: int(value)) )

1
100

##4.Write a function to reverse a string.

In [ ]:
#using loop

def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str
 
s =input("Enter a string : ")
 
print("The original string is : ", end="")
print(s)
 
print("The reversed string is : ", end="")
print(reverse(s))

Enter a string : bhupesh
The original string is : bhupesh
The reversed string is : hsepuhb

In [ ]:
# Function to reverse a string
def reverse(string):
    string = string[::-1]
    return string
 
s = "Geeksforgeeks"
 
print("The original string is : ", end="")
print(s)
 
print("The reversed string is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string is : skeegrofskeeG

##5.Write a program to count the number of occurrences of a character in a string.

In [ ]:
#using loop

test_str = "GeeksforGeeks"
count = 0
 
for i in test_str:
    if i == 'e':
        count = count + 1

print ("Count of e in GeeksforGeeks is : "+ str(count))

Count of e in GeeksforGeeks is : 4

In [ ]:
#using count() method

test_str = "GeeksforGeeks"

counter = test_str.count('e')
 
print ("Count of e in GeeksforGeeks is : " + str(counter))

Count of e in GeeksforGeeks is : 4

In [ ]:
#using lambda + sum() + map()

test_str = "GeeksforGeeks"
 
count = sum(map(lambda x : 1 if 'e' in x else 0, test_str))
 
print ("Count of e in GeeksforGeeks is : "+ str(count))

Count of e in GeeksforGeeks is : 4

##6.Write a function to check if a number is prime.

In [ ]:
def isprime(num):
  flag=0
  for i in range(2,num):
    if num%i==0:
      flag=flag+1
      print("Not a prime number")
      break
  print("Prime number")

num=int(input("Enter a number : "))
isprime(num)

Enter a number : 10
Not a prime number
Prime number

##7.Write a program to find the sum of all the elements in a list.

In [ ]:
list1=[1,2,3,4,5]
sum=0
for i in list1:
  sum=sum+i
print("Sum of all element is ",sum)

Sum of all element is  15

In [ ]:
list1=[1,2,3,4,5]
sum=0
for i in range(0,len(list1)):
  sum=sum+list1[i]
print("Sum of all element is ",sum)

Sum of all element is  15

##8.Write a function to sort a list of integers in ascending or descending order.

In [ ]:
#using .sort() method ------it modify original list

list1=[12,22,3,48,50]
list1.sort()                       
print("list in ascending order ",list1)
list1.sort(reverse=True)
print("list in descending order ",list1)

list in ascending order  [3, 12, 22, 48, 50]
list in descending order  [50, 48, 22, 12, 3]

In [ ]:
#using sorted() function-------it does not affect original list

list1=[12,22,3,48,50]
list2=sorted(list1)
print(list1)
print(list2)

[12, 22, 3, 48, 50]
[3, 12, 22, 48, 50]

##9.Write a program to find the length of the longest common prefix in a list of strings.

##10.Write a function to calculate the nth Fibonacci number.

In [ ]:
#using recursion

def fibo(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)   

n=int(input("Enter a number :")) 
print("recursion value of ",n," is ",fibo(n))

Enter a number :10
recursion value of  10  is  55

In [ ]:
#using iteration

def fibo(n):
  pren=0
  currentn=1
  for i in range(1,n):
    prepren=pren
    pren=currentn
    currentn=pren+prepren
  return currentn  

n=int(input("Enter a number :")) 
print("recursion value of ",n," is ",fibo(n))

Enter a number :10
recursion value of  10  is  55

##11.Write a program to remove duplicates from a list.

In [ ]:
#using loop

list1=[10,20,30,40,50,20,40]
uniquelist=[]

for n in list1:
  if n not in uniquelist:
    uniquelist.append(n)

print(list1)    
print(uniquelist)

[10, 20, 30, 40, 50, 20, 40]
[10, 20, 30, 40, 50]

In [ ]:
#converting list to set

list1=[10,20,30,40,50,20,40]
uniquelist=list(set(list1))
print(list1)
print(uniquelist)

[10, 20, 30, 40, 50, 20, 40]
[40, 10, 50, 20, 30]

In [ ]:
#using list comprehension

list1 = [10,20,30,40,50,20,40]
mylist = [ list1[i] for i in range(len(list1)) if list1.index(list1[i]) == i]
print(mylist)

[10, 20, 30, 40, 50]

##12.Write a function to calculate the factorial of a number using recursion.

In [ ]:
def fact(n):
  if n<0:
    print("Factorial of negative number doesn't exist")
  elif n==1:
    return 1
  else:
    return n*fact(n-1)

n=int(input("Enter a number : "))
print("Factorial of ",n,"is ",fact(n))

Enter a number : 5
Factorial of  5 is  120

##13.Write a program to check if a number is an Armstrong number.

In [ ]:
#Number is said to be armstrong if the sum of cubes of each digit is equal to the number itself. 
#For example: 153     (1*1*1)+(5*5*5)+(3*3*3)     1+125+27=153

num = int(input("Enter a number: "))

sum = 0
temp = num

while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

##14.Write a function to check if a string is a valid palindrome ignoring white space and punctuation.

In [ ]:
s=input("Enter a string : ")
rev=s[::-1]
if rev==s:
  print("Palindrome")
else:
  print("Not a Palindrome")

Enter a string : madam
Palindrome

##15.Write a program to calculate the average of a list of numbers.

In [ ]:
def Average(lst):
  return sum(lst) / len(lst)
 
# Driver Code
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)
 
# Printing average of the list
print("Average of the list =", round(average, 2))